In [1]:
import pandas as pd

In [13]:
## Load the json files to be converted
json_file = 'vqa_train.json'
csv_file = 'vqa_train.csv'
# json_file = 'vqa_test.json'
# csv_file = 'vqa_test.csv'

In [5]:
data = pd.read_json(path_or_buf=json_file, orient='records')
data.head()

   ans  img_path  ques_id                            question
0   21     82460  3506232          What is the table made of?
1    1     82460  3506230   Is the food napping on the table?
2    1     82461    86472            Is this an Spanish town?
3    0     82461    86470  Are there shadows on the sidewalk?
4  108     82461    86471    What is in the top right corner?

In [6]:
data.shape

(104456, 4)

In [5]:
data.to_csv(path_or_buf=csv_file)

## Filter out questions with one word answer

In [41]:
## Load the json files to be converted
# in_csv = 'vqa_train.csv'
# out_csv = 'vqa_one_word_train.csv'
in_csv = 'vqa_test.csv'
out_csv = 'vqa_one_word_test.csv'

In [42]:
df = pd.read_csv(in_csv, index_col=0)
df.head()

    ans  ques_id                            question  img_ind
0  wood  3506232          What is the table made of?    82460
1    no  3506230   Is the food napping on the table?    82460
2    no    86472            Is this an Spanish town?    82461
3   yes    86470  Are there shadows on the sidewalk?    82461
4  tree    86471    What is in the top right corner?    82461

In [43]:
df['ans_len'] = df['ans'].str.split().apply(lambda x: len(x))

In [44]:
df.head()

    ans  ques_id                            question  img_ind  ans_len
0  wood  3506232          What is the table made of?    82460        1
1    no  3506230   Is the food napping on the table?    82460        1
2    no    86472            Is this an Spanish town?    82461        1
3   yes    86470  Are there shadows on the sidewalk?    82461        1
4  tree    86471    What is in the top right corner?    82461        1

In [45]:
df.ans_len.value_counts()

1    101006
2      2529
3       910
4        11
Name: ans_len, dtype: int64

In [46]:
df = df[df.ans_len == 1]
df.drop(['ans_len'], axis=1, inplace=True)
df.shape

(101006, 4)

In [47]:
df.to_csv(out_csv, index=False)