In [3]:
import pandas as pd

In [4]:
## Load the json files to be converted
# json_file = 'vqa_base_train.json'
# csv_file = 'vqa_base_train.csv'
json_file = 'vqa_base_test.json'
csv_file = 'vqa_base_test.csv'

In [5]:
data = pd.read_json(path_or_buf=json_file, orient='records')
data.head()

   ans  img_path  ques_id                            question
0   21     82460  3506232          What is the table made of?
1    1     82460  3506230   Is the food napping on the table?
2    1     82461    86472            Is this an Spanish town?
3    0     82461    86470  Are there shadows on the sidewalk?
4  108     82461    86471    What is in the top right corner?

In [6]:
data.shape

(104456, 4)

In [8]:
data['ans'].value_counts()

0      27890
1      17744
2       3835
4       2296
3       2277
5       2111
7       1707
6       1700
9       1319
8       1231
10      1167
11       922
12       864
13       715
14       561
17       531
20       510
16       498
19       469
15       463
18       461
23       443
26       418
25       408
22       399
21       391
24       378
31       341
33       301
29       291
       ...
833        4
647        4
978        4
974        4
874        4
941        4
963        4
840        4
788        4
673        3
940        3
866        3
976        3
992        3
693        3
951        3
750        3
996        3
937        3
967        3
834        3
728        3
942        2
938        2
946        2
789        2
886        2
884        2
923        2
749        1
Name: ans, Length: 1000, dtype: int64

In [5]:
data.to_csv(path_or_buf=csv_file)